.error{
    color:red;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffdd00;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1{
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 0px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1, h4 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    background-color: rgba(69, 148, 150, 0.1);
    color: #000000;
    font-size: 20px;
    border: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

button:hover {
    background-color: #b29a00;
}

button:active {
    transform: scale(0.9);
}

header p {
    margin: 10px;
}

.menu-box {
    display: flex;
    justify-content: center;
    border: 1px none #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}

.menu-box p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.menu-box a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ccc;/
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.menu-box a:hover {
    transform: scale(1.05);
    background-color: #b29a00;
}
